<!-- ////////////// FOOTER ////////////// -->
footer.pt-4
	section.footer-1
		.container
			.row
				.col-12.col-md-2.text-center.text-md-left
					img(src="./img/logo.png" alt="").img-fluid
				.col-12.col-sm-6.col-md-4
					h3 An cu Corporation
					ul.list-unstyled.text-small
						li
							a.text-muted(href="#") An Cu Corporation was established in 1992, mainly operating in the field of construction, including construction execution and consultancy.
					ul.list-inline
						li.list-inline-item
							a(href="#")
								i.fa.fa-facebook
						li.list-inline-item
							a(href="#")
								i.fa.fa-twitter
						li.list-inline-item
							a(href="#")
								i.fa.fa-instagram
						li.list-inline-item
							a(href="#")
								i.fa.fa-youtube
				.col-12.col-sm-6.col-md-3
					h3 QUICK LINKS
					ul.list-unstyled.text-small
						li
							a.text-muted(href="#") Resource
						li
							a.text-muted(href="#") Resource name
						li
							a.text-muted(href="#") Another resource
						li
							a.text-muted(href="#") Final resource
						li
							a.text-muted(href="#") Brochure
				.col-12.col-sm-6.col-md-3
					h3 WHAT WE DO
					ul.list-unstyled.text-small
						li
							a.text-muted(href="#") About
						li
							a.text-muted(href="#") Locations
						li
							a.text-muted(href="#") Privacy
	section.footer-2
		.container
			.row
				.col
					p.text-center Copyright 2018 by FullStack Vietnam.

